= render :partial => 'new-ping-header', :locals => {:show_next => true}

%div{"ng-controller" => "HoursCtrl"}

  .ping-date
    %i.icon-backward{"ng-click" => "prevDate()"}
    %span.today {{today}}
    %i.icon-forward{"ng-click" => "nextDate()"}

  .ping-time-row{"ng-repeat" => "hour in hours", 
                 "ng-click" => "toggleTime(hour)",
                 "ng-class" => "{selected: getSelectedState(hour)}"}
    {{hour}}





