.ping-head 
  %a.btn.btn-left{:href => "http://mit.edu"} Sup
  HAM
  %a.btn.btn-right{:href => "http://mit.edu"} Fool

%div{"ng-controller" => "DateCtrl"}
  .ping-date
    %i.icon-backward{"ng-click" => "prevDate()"}
    %span.today {{today}}
    %i.icon-forward{"ng-click" => "nextDate()"}

  .ping-time-row{"ng-repeat" => "hour in hours", 
                 "ng-click" => "toggleTime(hour)",
                 "ng-class" => "{selected: getSelectedState(hour)}"}
    {{hour}}





